<div class='module'>
  <h3>Add problem</h3>
  <div class="container-fluid"
    style='margin-top: 30px; border-top: 1px solid #e5e5e5; padding-top: 10px'>
    <form action="/" method="POST" id="fileupload"
      class="form-horizontal" role="form">
      <div class="form-group">
        <label for="name" class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input id="name" class="userinput form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-xs-2 control-label">Type</label>
        <div class="col-xs-3">
          <select id="type" class="userinput form-control">
            <option value="Ad Hoc">Ad Hoc</option>
            <option value="Graph">Graph</option>
            <option value="Search">Search</option>
            <option value="Union-Find Disjoint Set">Union-Find
              Disjoint Set</option>
            <option value="Linear Data-structure">Linear
              Data-structure</option>
            <option value="Dynamic Programming">Dynamic
              Programming</option>
            <option value="Number Theory">Number Theory</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Combinatorics">Combinatorics</option>
            <option value="Tree">Tree</option>
            <option value="Greedy">Greedy</option>
            <option value="String">String</option>
            <option value="Segment-tree">Segment-tree</option>
            <option value="Fenwick Tree">Fenwick Tree</option>
            <option value="BST">BST</option>
            <option value="Geometry">Geometry</option>
            <option value="Match">Match</option>
            <option value="Network Flow">Network Flow</option>
            <option value="Shortest Path">Shortest Path</option>
            <option value="undefined">Undefined</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="desc" class="col-xs-2 control-label">Description</label>
        <div class="col-xs-10">
          <textarea id="desc" style="height: 200px"
            class="userinput form-control" type="text"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="input" class="col-xs-2 control-label">Sample
          input</label>
        <div class="col-xs-10">
          <textarea id="input" style="height: 100px"
            class="userinput form-control" type="text"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="output" class="col-xs-2 control-label">Sample
          output</label>
        <div class="col-xs-10">
          <textarea id="output" style="height: 100px"
            class="userinput form-control" type="text"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">Test cases</label>
        <div class="col-xs-10">
          <span class="btn btn-success fileinput-button"> <i
            class="glyphicon glyphicon-plus"></i> <span id="upload-info">Upload
              test cases...</span> <input type="file" name="upload[]" multiple>
          </span> <span>Case amount: <select ng-model="max_cases">
              <option value="5">5</option>
              <option value="8">8</option>
              <option value="10" selected>10</option>
              <option value="20">20</option>
          </select></span>
          <div>
            Missing <span id="missing-files">all</span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>