<div class="modal-header">
  <h4 class="modal-title" id="label">Add problem</h4>
</div>
<div class="modal-body" id="body">
  <div class="form-group">
    <label for="name">Name</label> <input id="name"
      class="userinput form-control" type="text">
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea id="desc" style="height: 100px"
      class="userinput form-control" type="text"></textarea>
  </div>
  <div class="form-group">
    <label for="input">Sample input</label>
    <textarea id="input" style="height: 100px"
      class="userinput form-control" type="text"></textarea>
  </div>
  <div class="form-group">
    <label for="output">Sample output</label>
    <textarea id="output" style="height: 100px"
      class="userinput form-control" type="text"></textarea>
  </div>
  <div class="form-group">
    <label for="type">Type</label> <select id="type"
      class="userinput form-control">
      <option value="Ad Hoc">Ad Hoc</option>
      <option value="Graph">Graph</option>
      <option value="Search">Search</option>
      <option value="Union-Find Disjoint Set">Union-Find
        Disjoint Set</option>
      <option value="Linear Data-structure">Linear
        Data-structure</option>
      <option value="Dynamic Programming">Dynamic
        Programming</option>
      <option value="Number Theory">Number Theory</option>
      <option value="Mathematics">Mathematics</option>
      <option value="Combinatorics">Combinatorics</option>
      <option value="Tree">Tree</option>
      <option value="Greedy">Greedy</option>
      <option value="String">String</option>
      <option value="Segment-tree">Segment-tree</option>
      <option value="Fenwick Tree">Fenwick Tree</option>
      <option value="BST">BST</option>
      <option value="Geometry">Geometry</option>
      <option value="Match">Match</option>
      <option value="Network Flow">Network Flow</option>
      <option value="Shortest Path">Shortest Path</option>
      <option value="undefined">Undefined</option>
    </select>
  </div>
  <div class="form-group">
    <label>Test cases</label>
    <div>
      <div id="upload-btn"
        class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i> <span
          id="upload-info">Upload test cases...</span> <input
          id="test-cases-upload" type="file" name="upload"
          data-url="uploadcasefile" multiple>
      </div>
      <span>Case amount: <select id="num-test-cases">
          <option value="5">5</option>
          <option value="8">8</option>
          <option value="10" selected>10</option>
          <option value="20">20</option>
      </select></span>
    </div>
    <div>
      Missing <span id="missing-files">all</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger"
    data-dismiss="modal">Cancel</button>
  <button type="button" id="confirm-add-problem-btn"
    onclick="doAddProblem();" class="btn btn-success disabled"
    data-dismiss="modal">Submit</button>
  <button type="button" id="confirm-edit-problem-btn"
    onclick="doEditProblem();" class="btn btn-success disabled"
    data-dismiss="modal">Submit</button>
</div>