<div class="module">
  <h3>Contests</h3>
  <div style="margin-top: 30px">
    <button class="btn btn-default" ng-click="addContest"
      ng-show="loginInfo.role=='admin'"
      style="margin-left: 90%; width: 10%">Add</button>
    <table id="contests-table" class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Begin time</th>
        <th>End time</th>
      </tr>
      <tr ng-repeat="contest in contests | orderBy: ['begin', 'name']">
        <td>{{contest.cid}}</td>
        <td>{{contest.name}}</td>
        <td>{{contest.begin | date: "yyyy-MM-dd HH:mm"}}</td>
        <td>{{contest.end | date: "yyyy-MM-dd HH:mm"}}</td>
      </tr>
    </table>
  </div>
</div>