<div class="ui" id="ui-problems">
  <div id="problems-div" class="module">
    <h3>Problems</h3>
    <div style="margin-top: 30px">
      <button class="btn btn-default need-admin"
        id="add-problem-btn"
        style="margin-left: 90%; width: 10%"
        onclick="showAddProblem();">Add</button>
      <table id="problems-table" class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        <tr ng-repeat="problem in problems | orderBy: 'id'">
          <th>{{problem.id}}</th>
          <th>{{problem.name}}</th>
        </tr>
      </table>
    </div>
  </div>
</div>