<div class='module' ng-hide="stage()!='show'">
  <h3>{{problem.name}}</h3>
  <div style='border-top:1px solid #e5e5e5'>
    <h4>Description</h4>
    <pre>{{problem.description}}</pre>
  </div>
  <div style='border-top:1px solid #e5e5e5'>
    <h4>Sample input</h4>
    <pre>{{problem.input}}</pre>
  </div>
  <div style='border-top:1px solid #e5e5e5'>
    <h4>Sample output</h4>
    <pre>{{problem.output}}</pre>
  </div>
  <button class='btn btn-success' ng-click="stage('submit')" style='margin-left:90%;width:10%'>Submit</button>
</div>
<div class='module' ng-hide="stage()!='submit'">
  <h3>Submit</h3>
  <div ui-ace="{ theme: 'twilight', mode: 'c_cpp' }" style='position: relative; height: 500px; margin-bottom: 20px' ng-model='code'></div>
  <div>
    <button class='btn btn-danger' style='margin-left: 74%; width: 10%' ng-click='cancelSubmit()'>Cancel</button>
    <button class='btn btn-success' style='margin-left: 3%; width: 10%' ng-click='confirmSubmit()'>Submit</button>
  </div>
</div>