<!doctype html>
<html ng-app="outofbounds">
<head>
<meta charset="utf-8">
<meta mame="renderer" content="webkit">
<title>Out of Bounds</title>
<link rel="stylesheet" href="fonts/ubuntumono/font.css">
<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="libs/jquery-fileuploader/css/fileUploader.css">
<script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="libs/jquery-cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/ace-builds/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="libs/angular/angular.min.js"></script>
<script type="text/javascript" src="libs/angular-ui-ace/ui-ace.min.js"></script>
<script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="libs/jquery-fileuploader/js/jquery.fileUploader.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/ui.js"></script>
<script src="js/notifications.js"></script>
<script src="js/backend.js"></script>
<script src="js/login.js"></script>
<script src="js/contest.js"></script>
<script src="js/problem.js"></script>
<style type="text/css" id="inject-style"></style>
</head>

<body style="margin: 0">
  <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog"
    aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="title">Modal title</h4>
        </div>
        <div class="modal-body" id="content">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal" id="yes-btn">Yes</button>
          <button type="button" class="btn btn-default"
            data-dismiss="modal" id="no-btn">No</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <div class="modal fade" id="add-edit-problem-modal" tabindex="-1"
    role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="label">Add problem</h4>
        </div>
        <div class="modal-body" id="body">
          <div class="form-group">
            <label for="name">Name</label> <input id="name"
              class="userinput form-control" type="text">
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea id="desc" style="height: 100px"
              class="userinput form-control" type="text"></textarea>
          </div>
          <div class="form-group">
            <label for="input">Sample input</label>
            <textarea id="input" style="height: 100px"
              class="userinput form-control" type="text"></textarea>
          </div>
          <div class="form-group">
            <label for="output">Sample output</label>
            <textarea id="output" style="height: 100px"
              class="userinput form-control" type="text"></textarea>
          </div>
          <div class="form-group">
            <label for="type">Type</label> <select id="type"
              class="userinput form-control">
              <option value="Ad Hoc">Ad Hoc</option>
              <option value="Graph">Graph</option>
              <option value="Search">Search</option>
              <option value="Union-Find Disjoint Set">Union-Find
                Disjoint Set</option>
              <option value="Linear Data-structure">Linear
                Data-structure</option>
              <option value="Dynamic Programming">Dynamic
                Programming</option>
              <option value="Number Theory">Number Theory</option>
              <option value="Mathematics">Mathematics</option>
              <option value="Combinatorics">Combinatorics</option>
              <option value="Tree">Tree</option>
              <option value="Greedy">Greedy</option>
              <option value="String">String</option>
              <option value="Segment-tree">Segment-tree</option>
              <option value="Fenwick Tree">Fenwick Tree</option>
              <option value="BST">BST</option>
              <option value="Geometry">Geometry</option>
              <option value="Match">Match</option>
              <option value="Network Flow">Network Flow</option>
              <option value="Shortest Path">Shortest Path</option>
              <option value="undefined">Undefined</option>
            </select>
          </div>
          <div class="form-group">
            <label>Test cases</label>
            <div>
              <div id="upload-btn"
                class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i> <span
                  id="upload-info">Upload test cases...</span> <input
                  id="test-cases-upload" type="file" name="upload"
                  data-url="uploadcasefile" multiple>
              </div>
              <span>Case amount: <select id="num-test-cases">
                  <option value="5">5</option>
                  <option value="8">8</option>
                  <option value="10" selected>10</option>
                  <option value="20">20</option>
              </select></span>
            </div>
            <div>
              Missing <span id="missing-files">all</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
            data-dismiss="modal">Cancel</button>
          <button type="button" id="confirm-add-problem-btn"
            onclick="doAddProblem();" class="btn btn-success disabled"
            data-dismiss="modal">Submit</button>
          <button type="button" id="confirm-edit-problem-btn"
            onclick="doEditProblem();" class="btn btn-success disabled"
            data-dismiss="modal">Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <div class="modal fade" id="add-contest-modal" tabindex="-1"
    role="dialog" aria-labelledby="label" aria-hidden="true" ng-controller="add_contest_ctrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="label">Add contest</h4>
        </div>
        <div class="modal-body" id="body">
          <div class="form-group">
            <label for="name">Name</label> <input id="name"
              class="userinput form-control" type="text">
          </div>
          <div class="form-group"
            style="width: 48%; display: inline-block">
            <label for="begintime">Begin time</label>
            <datepicker show-weeks="false" ng-model="begindate"></datepicker>
            <timepicker minute-step="15" show-meridian="false" ng-model="begintime"></timepicker>
          </div>
          <div class="form-group"
            style="width: 48%; float: right; display: inline-block">
            <label style="margin: 0 auto" for="endtime">End time</label>
            <datepicker show-weeks="false" ng-model="enddate"></datepicker>
            <timepicker minute-step="15" show-meridian="false" ng-model="endtime"></timepicker>
          </div>
          <div class="form-group">
            <label for="problems">Problems</label> <input id="problems"
              class="userinput form-control" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
            onclick="$('#add-contest-modal .userinput').val('');"
            class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" onclick="doAddContest();"
            class="btn btn-success" data-dismiss="modal">Submit</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <div id="screen">
    <div id="header">
      <div
        style="display: inline-block; height: 50px; float: right; margin-right: 1%">
        <div
          style="width: 200px; padding: 8px 0; height: 50px; display: inline-block">
          <input
            style="background: url(img/search.png) #fff no-repeat right; background-origin: content-box"
            type="text" placeholder="Search problem">
        </div>
        <div style="position: static; margin-left: 10px"
          id="before-login" class="btn-group logintool">
          <button type="button" class="btn btn-default" id="signin">Sign
            in</button>
          <button type="button" class="btn btn-default" id="signup">Sign
            up</button>
        </div>
        <div style="margin-left: 10px; display: none" id="after-login"
          class="logintool">
          <div id="username" style="display: inline-block"
            onselectstart="javascript:return false;"></div>
          <button type="button" onclick="doLogout();"
            class="btn btn-danger" id="logout">Log out</button>
        </div>
      </div>
      <div id="logo">
        <div onselectstart="javascript:return false;">OutOfBounds</div>
      </div>
    </div>
    <div id="left" class="tab-list"
      onselectstart="javascript:return false;" ng-controller="tabs_ctrl">
      <div ng-repeat="tab in tabs" ng-click="setURL(tab.url)" ng-class="{'tab': true, 'selected': isURL(tab.url)}">
        {{tab.name}}
      </div>
    </div>
    <div id="main">
      <div id="body">
        <div ng-view></div>
      </div>
      <div class="popup popup-form" id="login-div">
        <form id="login-form" onsubmit="return doLogin();">
          <div>
            <label class="control-label">Username</label> <input
              type="text" class="form-control" id="username"
              placeholder="Username" autocomplete="on">
          </div>
          <div>
            <label class="control-label">Password</label> <input
              type="password" class="form-control" id="password"
              placeholder="Password" autocomplete="on">
          </div>
          <div>
            <button type="submit" id="login-btn" class="btn btn-default">Sign
              in</button>
          </div>
        </form>
      </div>
      <div class="popup popup-form" id="reg-div">
        <form id="reg-form" onsubmit="return doRegister();">
          <div>
            <label class="control-label">Username</label> <input
              type="text" class="form-control" id="username"
              placeholder="Username">
          </div>
          <div>
            <label class="control-label">Password</label> <input
              type="password" class="form-control" id="password"
              placeholder="Password">
          </div>
          <div>
            <label class="control-label">Confirm</label> <input
              type="password" class="form-control" id="password2"
              placeholder="Password">
          </div>
          <div>
            <button type="submit" id="reg-btn" class="btn btn-default">Sign
              up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
